<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <div class="contact-section">
        <h1>Contacto</h1>
        
        <!-- Correo Electrónico -->
        <div class="contact-container">
            <h1>Correo Electrónico</h1>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=PhoneShopSA@gmail.com">
                <img src="img/email-icon.svg" alt="Correo" class="contact-icon">
            </a>
            <h2>PhoneShopSA@gmail.com</h2>
        </div>

        <!-- WhatsApp -->
        <div class="contact-container">
            <h1>WhatsApp</h1>
            <a href="https://wa.me/+51962024734" target="_blank">
                <img src="img/whatsapp-line.svg" alt="WhatsApp" class="contact-icon">
            </a>
            <h2>962024734</h2>
        </div>
          
        <df-messenger
        intent="WELCOME"
        chat-title="Antony"
        agent-id="651ef59c-1210-45c6-ba18-03ed0e57822f"
        language-code="es"
      ></df-messenger>
      
    <%- include('partials/footer') %>
</body>
</html>
