<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rql="stylesheet" href="/css/main.css"/>
</head>
<body>
    <%- include('partials/navigation') %>
    <section class="hero">
        <h1>¡Bienvenido a PhoneShop!</h1>
        <p>¡Una tienda donde encontraras los mejores celulares de alta gama al mejor precio!</p>
        <img src="/img/PhoneShop.png" alt="" class="hero-image" />
        <h2>Que ofrecemos?</h2>
        <ul class="skills-list">
            <li>Celulares de alta gama 💰</li>
            <h1> </h1>
            <li>Garantia garantizada 📦</li>
            <h1> </h1>
            <li>Los mejores precios 💸</li>
            <h1> </h1>
        </ul>
    </section>

    <df-messenger
    intent="WELCOME"
    chat-title="Antony"
    agent-id="651ef59c-1210-45c6-ba18-03ed0e57822f"
    language-code="es"
  ></df-messenger>
  
    <%- include('partials/footer') %>
</body>
</html>