body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #44c9eb;
    background-color: #111;
}

/* Navegación */
nav {
    background-color: #222;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #44c9eb;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #44c9eb;
    transform: scale(1.1);
}

/* Títulos */
.about-title, .studies-title, .idiomas-ps-title {
    font-size: 2em;
    font-weight: 700;
    color: #44c9eb;
    margin-bottom: 20px;
    text-align: left;
}

/* Sección General */
.about-me, .studies-com, .idiomas-ps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    max-width: 1400px;
    margin: 40px auto;
    border-radius: 12px;
    background: linear-gradient(135deg, #333333, #000000);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-me:hover, .studies-com:hover, .idiomas-ps:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.7);
}

/* Imágenes */
.about-image, .studies-image, .idiomas-ps-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto;
}

.about-image:hover, .studies-image:hover, .idiomas-ps-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Descripciones */
.about-description, .studies-description, .idiomas-ps-description {
    font-size: 1.1em;
    line-height: 1.8;
    font-weight: 300;
    color: #44c9eb;
    max-width: 800px;
    margin: 20px;
    text-align: justify;
    transition: color 0.3s;
}

.about-description:hover, .studies-description:hover, .idiomas-ps-description:hover {
    color: #66aabb;
}
