.hero {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #333333, #111);
    color: #44c9eb;
}

.skills-list {
    list-style-type: none;  
    padding: 0;           
    margin: 0;             
}

.skills-list li {
    margin: 5px 0;        
    text-align: left;     
    color: #44c9eb;  
    font-size: 1.1em;     
}

.cta-button {
    background-color: #44c9eb;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.cta-button:hover {
    background-color: #44c9eb;
}