<footer class="footer">
    <div class="footer-content">
      <div class="footer-section contact-info">
        <h4>Contacto</h4>
        <p>antonioaaron0408@gmail.com</p>
        <p>Teléfono: +51 962024734</p>
      </div>
      
      <div class="footer-section">
        <h4>Resumen de la pagina</h4>
        <p>Una pagina sobre mi persona, para que se me pueda conocer un poco más, y para poder enseñar mis habilidades de programación.</p>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; By Antonio Aaron Sabas Saenz</p>
    </div>
  </footer>