<footer class="footer">
    <div class="footer-content">
      <div class="footer-section contact-info">
        <h4>Contacto</h4>
        <p>PhoneShopSA@gmail.com</p>
        <p>Teléfono: +51 962024734</p>
      </div>
      
      <div class="footer-section">
        <h4>Resumen de la pagina</h4>
        <p>Una tienda en la que encontraras los mejores celulares hasta la fecha.</p>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; By Antonio Aaron Sabas Saenz</p>
    </div>
  </footer>