<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam asperiores vel molestias saepe itaque. Consectetur iusto quasi hic, asperiores alias quidem adipisci perspiciatis at magni, voluptatibus consequatur quas vitae. Debitis.</p>
</footer>